<%- include("./templates/encabezado")%>
    <%- include("./templates/navbar")%>

    <div class="container mt-3 mb-2 ml-1">
        <div class="card">
            <div class="card-header">
                <h1>Agendar cita</h1>
            </div>
            <div class="card-body">
                <form action="/agendarCita" method="post" id="iniciarSesion">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="motivo">Motivo</label>
                        <input type="text" class="form-control" id="motivo" name="motivo">
                    </div>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fecha" name="fecha">
                    </div>
                    <button type="submit" class="btn btn-primary">Agendar cita</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const hoy = new Date().toISOString().split("T")[0];
        document.getElementById("fecha").setAttribute("min", hoy);
    </script>

<%- include("./templates/pie")%>