<%- include("./templates/encabezado")%>

    <div class="container mt-3 mb-2 ml-1">
        <div class="card">
            <div class="card-header">
                <h1>Inicia sesion</h1>
            </div>
            <div class="card-body">
                <form action="/iniciarSesion" method="post" id="iniciarSesion">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="checkMe">
                        <label class="form-check-label" for="checkMe">Recuerdame</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar sesion</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="/registrarCuenta">¿No tienes cuenta? Registrate</a>
            </div>
        </div>
    </div>

<%- include("./templates/pie")%>
